*{
  margin:0;
  padding:0;
}

.container-fluid{
  padding:3% 15%;
}
.center{
  text-align:center;
}

/* home */
.intro{
  margin:15% 3% 27% 3%;
}


.introduction{
  font: 1.2rem Noto Sans JP ;
}

.name{
  font: 4rem PT serif ;
  letter-spacing:10px;
  margin: 0 0 1.4% 0;
}

.title{

  font-family: Arvo ;
  font-weight:700;
  font-size:1.7rem;
  letter-spacing:2px;

}

.resumeDL{

  background-color:transparent;
  border:solid 2px;
  padding:0 .7%;
  border-radius:5px;
}

.resumeDL:hover{
  background-color:black;
  color:white;
}


/* about */

.abouttitle{
  font-family:Arvo;
  font-size:3rem;
  letter-spacing:4px;
  margin:0 0 10% 0 ;
}
.profilepic{

  width:50%;
  border-radius:50%;

}

.aboutself{
  margin:auto 0;
}


@media screen and (max-width:575px){
  .profilepic{
    margin: 0 0 10%;
  }
}
